.studentPage {
    width: 90%;
    margin-top: 5rem;
}

.table {
    background: linear-gradient(180deg, rgba(131, 144, 250, 0.42) 0%, #8390FA 100%);
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;
    flex-wrap: wrap;
}

.student, .iepstudent {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 304px;
    height: 140px;
    margin-bottom: 50px;
    border-radius: 23px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.header {
    display: flex;
    align-items: center;
}

.header > img {
    margin-top: -2rem;
}

.student > h1 {
    color: white;
    background-color: #4F8FFF;
    width: 200px;
    border-radius: 23px;
    text-align: center;
    font-size: 18px;
    padding: 0.75rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em; 
    max-height: 2em;
    word-break: keep-all;
}

.iepname {
    background-color: #FFB20C;
    display: flex;
    width: 200px;
    border-radius: 23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

    
}

.iepname > h1 {
    text-align: center;
    color: white;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em; 
    max-height: 2em;
    word-break: keep-all;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.iepname > p {
    margin-top: 1rem;
    font-size: 12px;
    color: white;
    margin-top: 0.1rem;
}

.export:hover {
    cursor: pointer;
    background-color: beige;
}
